@import url("../App.css");

.card-parent {
  /* grid-column: 1 / -1; */

  border-radius: var(--radius-big);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;

  padding: var(--gap-xs) var(--gap-1) 0;

  backdrop-filter: blur(8px);
  overflow: hidden;
}

.hourly-cards {
  grid-column: 1/-1;
}

.card-parent::after {
  content: "";
  width: 100%;
  height: 70px;
  background: linear-gradient(transparent, #0001);

  position: absolute;
  bottom: 0;
  left: 0;
}

.card-parent::before {
  content: "";
  width: 100%;
  height: 70px;
  background: linear-gradient(#0001, transparent);

  position: absolute;
  bottom: top;
  left: 0;
}

.top-bar {
  padding: calc(var(--gap-xs) - 5px);

  text-align: center;

  border-bottom: 0.5px solid var(--shadow-color);

  /* position: sticky;
  top: 0; */

  font: var(--normal-bold);
  color: var(--text-white);
}

.child-items {
  padding: var(--gap-1);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-1);

  overflow-x: auto;
}

.child-items::-webkit-scrollbar {
  display: none;
}

.inside-cards {
  height: 100%;
  aspect-ratio: 1/1;

  border-radius: var(--radius-small);

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

  color: var(--text-white);
  font: var(--normal-bold);

  background: var(--black-secondry);
}

.inside-cards svg {
  height: 30px;
}

.min-temp,
.wind,
.sunset,
.sunrise,
.Humidity {
  height: 100%;
  margin-block: auto;
  /* grid-column: span 1; */
  padding-bottom: var(--gap-1);

  color: var(--text-white);
}

.single-inside-card {
  width: 100%;
  height: 92%;
  margin-top: auto;
  font: var(--normal-bold);
  font-size: 24px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-1);

  padding: var(--gap-1);
  background-color: var(--black-secondry);
  border-radius: var(--radius-small);
}

.card-parent p > span {
  font: var(--normal-light);
  display: block;
}

.wind.single-inside-card {
  font: var(--title-font);
  font-size: 32px;
  align-items: center;
}

/* * general info  */
.general-info {
  grid-column: span 2;
  grid-row: span 2;

  color: var(--text-white);
}

.general-info > .inside-cards {
  width: 100%;

  background: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: min-content;
  gap: var(--gap-1);

  overflow-y: auto;
}

.general-info .single-inside-card {
  overflow: auto;
  margin-top: 7%;

  justify-content: space-between;
  gap: var(--gap-xs);
}

.thank-you {
  grid-column: 1 / -1;

  font: var(--normal-bold);
  color: var(--text-white);

  align-content: center;
  justify-content: center;

  text-align: center;
}

@media (max-width: 699px) {
  .min-temp,
  .wind,
  .sunset,
  .sunrise,
  .Humidity,
  .general-info,
  .thank-you {
    grid-column: span 1;
  }

  .thank-you,
  .general-info {
    grid-column: span 2;
  }

  .thank-you {
    /* grid-column: span 3; */
  }

  .general-info {
    grid-row: span 2;
  }
}

@media (max-width: 450px) {
  .min-temp,
  .wind,
  .sunset,
  .sunrise,
  .Humidity,
  .general-info,
  .thank-you {
    grid-column: 1 / -1;
  }

  .general-info {
    grid-row: span 3;
  }

  .min-temp .single-inside-card {
    /* display: flex; */
    flex-flow: row;
    justify-content: space-evenly;
  }
}
